/*color palette HEX: #cfe0e8

HEX: #b7d7e8

HEX: #87bdd8

HEX: #bbe4dc
 
#acc3cf 
1E90FF*/
div a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {display: inline-block;}
ul li:hover {background:#b7d7e8;}
ul li:hover ul {display: flex; }
ul li ul {
  position: absolute;
  width: 200px;
  display: none;
}
ul li ul li { 
  background: #1E90FF; 
  display: block; 
}
ul li ul li a {display:block !important;} 
ul li ul li ul li a {display:block !important;} 
ul li ul li:hover {background:   #B0C4DE;  
  border-bottom: solid; border-color: blue; border-width: 3px;}
ul li ul li ul{ 
  width: 100px;
  visibility: hidden;
  padding-left: 10%;
}
ul li ul li:hover ul{display: flex; visibility: visible;}

  ul li ul li ul li{ 
  background: #b7d7e8; 
  display: block; 
  
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; 
        display: flex;
        justify-content: left;
        align-items: center;}
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }
.item6 { grid-area: avatar;}
.item7 { grid-area: left;}




.grid-container {
  display: grid;
grid-template-rows: 20% 10% 110% 10%;
grid-template-columns: 15% 10% 10% 27% 10% 10% 15%;
  grid-template-areas:
    'avatar header header header header header header'
    'menu menu menu menu menu menu menu'
    'left main main main main main right'
    'footer footer footer footer footer footer footer';
  grid-gap: 10px;
  padding: 10px;
align-items: stretch;
} 

.container_avatar{
  float: left;
  width: 50%;
  border-radius: 50%;
  background-color:#87bdd8;
  height: 100%;
}

.container_avatar:hover{
background-color: #cfe0e8;
display: "log out";
font-display: arial;
}

.container_text{
  float: right;
  width: 40%;
  padding-left: 10%;
  font-size: 18px;
}



.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}





.container_message{
    height : 80%;
    background-color: #cfe0e8;
    text-align: left;
    border: 2px solid;
    position: relative;
    background-size: fixed;
}

.conainer_wmessage{
    height:20%;
    width: 80%;
    position: relative;
    background-color: #b7d7e8;
    text-align: left; 
    float: left;
    border-top: none;
}

.button_send{
    width: 20%;
    float:right;
    background-color:#87bdd8;
    font-weight: bold;
    font-size: 18px;
    height:20%;
    position:relative;
    cursor: pointer;
}

.button_send:hover{
    background-color: #b7d7e8;
}

.button_directory{
    width: 15%;
    float:left;
    background-color:#87bdd8;
    font-weight: bold;
    font-size: 18px;
    position:relative;
    height: 100%;
    cursor: pointer;
}
.button_directory:hover{
    background-color: #b7d7e8;
}

.button_message_directory{
  width: 15%;
  float:right;
  background-color:#87bdd8;
  font-weight: bold;
  font-size: 18px;
  position:relative;
  height: 100%;
  cursor: pointer;
}
.button_message_directory:hover{
  background-color: #b7d7e8;
}

.container_input{
  background-color: #acc3cf;
  Height: 15%;
  font-size: 25px;
  font-weight: bold;
  padding-top: 0px;
  margin-top: 0px;
}
.container_directory{
    width: 85%;
    float: right;
    text-align: 25%;
}

.container_message_directory{
  width: 85%;
  float: left;
  text-align: 25%;
}

.container_menu{
    float:left;
   overflow: auto;
}

.container_menu a{
    padding: 16px 20px;
    text-align:center;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
     display: block;
    color: black;
}

.container_menu a:hover{
    background-color: #87bdd8
}

.container_footer{
  float:left;
   overflow: auto;
}

.container_footer a{
  padding: 8px 18px;
  text-align:center;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
   display: block;
  color: black;
}

.container_footer a:hover{
  background-color: #bbe4dc
}

.popup {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding: 8px 18px;
  font-size: 20px;
  font-weight: bold;
}

.popup:hover{
  background-color: #bbe4dc
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 80%;
  margin-left: -80px;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.buttonrate
{
  cursor: pointer;
  font-size: 15px;
  background-color: #87bdd8;
  border-radius: 50%;
  margin: 3px;
  color: #555;
  font-weight: bold;
}



.buttonrate:hover{
  background-color: #b7d7e8;
}


@media (max-width:700px){
  .grid-container{
    grid-template-rows: 15% 10% 15% 70% 10%;
    grid-template-areas:
    'avatar avatar header header header header header'
    'menu menu menu menu menu menu menu'
    'left left left left left left left'
    'main main main main main right right'
    'footer footer footer footer footer footer footer';
  }

  .container_menu a{
    padding: 10px 12px;
    font-size: 15px;
}
.button_message_directory{
  width: 100%;
  height: 35%;
  background-color:#87bdd8;
  font-size: 15px;
  float: none;
}

.container_message_directory{
  width: 100%;
  height: 65%;
  float: none;
  margin: 0%;
  font-size: 15px;;
}

.container_directory{
  width: 75%;
  font-size: 16px;;
}

.button_directory{
  width: 25%;
  font-weight: bold;
  font-size: 15px;

}



}







